<div class="controlClass">
    <div class="control control-1 active-btn">
        <a href="/">
            <span id="tooltip">Home</span>
            <span><i class="fas fa-home"></i></span>
        </a>
    </div>
    <div class="control control-2">
        <span id="tooltip">About</span>
        <span><i class="fas fa-user"></i></span>
    </div>
    <div class="control control-3">
        <span id="tooltip">Work</span>
        <span><i class="fas fa-briefcase"></i></span>
    </div>
    <div class="control control-4">
        <a href="/blogs">
            <span id="tooltip">Blogs</span>
            <span><i class="far fa-newspaper"></i></span>
        </a>
    </div>
    <div class="control control-5">
        <a href="/contacts">
            <span id="tooltip">Contact</span>
            <span><i class="fas fa-envelope-open"></i></span>
        </a>
    </div>
</div>

<script src="../app.js">
</script>

</body>
</html>