<%- include("partials/header") -%>

    <div class="container">
        <header class="title-about">
            <h1>About Me</h1>
        </header>
        <div class="main-content-about">
            <img src="images/img2-portfolio.png" id="img4" />
            <div class="card-about">
                <span style="font-size: 150%; font-weight: 500;">Hello,</span> <br> I am Samarth Bura. I am a full-stack developer and a competetive programmer. Still an inquisitive learner and a passionate student, with an ardent zeal of computers and software technologies. I love to read books and write blogs.
            </div>
            <div class="skill-title">My Skillset </div>
            <div class="skill-icon-container">
                <img src="icons/python.png" class="skill-icon">
                <img src="icons/java.png" class="skill-icon">
                <img src="icons/c.png" class="skill-icon">
                <img src="icons/c++.png" class="skill-icon">
                <img src="icons/js.png" class="skill-icon">
                <img src="icons/html.png" class="skill-icon">
                <img src="icons/css.png" class="skill-icon">
                <img src="icons/django.png" class="skill-icon">
                <img src="icons/node.png" class="skill-icon">
                <img src="icons/mongo.png" class="skill-icon">
                <img src="icons/postman.png" class="skill-icon">
                <img src="icons/bootstrap.png" class="skill-icon">
                <img src="icons/git.png" class="skill-icon">
                <img src="icons/canva.png" class="skill-icon">
                <img src="icons/figma.png" class="skill-icon">
            </div>
        </div>
        <br><br>
    </div>

<%- include("partials/footer") -%>