<%- include("partials/header") -%>

    <div class="container">
        <header class="title-blog">
            <h1>Blogs</h1>
        </header>
        <div class="main-content-blog">
            <div class="card-blog">
                <div class="card-blog-image">
                    <img src="images/img1-blog.jpg">
                </div>
                <div class="card-blog-title">
                    This is Blog Name.
                </div>
                <div class="card-blog-btn">
                    <button>Read</button>
                </div>
            </div>
            <div class="card-blog">
                <div class="card-blog-image">
                    <img src="images/img2-blog.jpg">
                </div>
                <div class="card-blog-title">
                    This is Blog Name.
                </div>
                <div class="card-blog-btn">
                    <button>Read</button>
                </div>
            </div>
            <div class="card-blog">
                <div class="card-blog-image">
                    <img src="images/img2-blog.jpg">
                </div>
                <div class="card-blog-title">
                    This is Blog Name.
                </div>
                <div class="card-blog-btn">
                    <button>Read</button>
                </div>
            </div>
        </div>
    </div>

<%- include("partials/footer") -%>