<%- include("partials/header") -%>

    <div class="container">
        <header class="title-contact">
            <h1>Contact Me</h1>
        </header>
        <div class="main-content-contact">
            <img src="images/img1-contact.png">
            <a href="https://github.com/samarthNV" target="_blank"><h3 class="contact-name1">Github</h3></a>
            <a href="https://www.linkedin.com/in/samarth-bura-25717622a/" target="_blank"><h3 class="contact-name2">LinkedIn</h3></a>
            <a href="https://twitter.com/samarth_bura" target="_blank"><h3 class="contact-name3">Twitter</h3></a>
        </div>
    </div>

<%- include("partials/footer") -%>