<%- include("partials/header") -%>

    <div class="container">
        <header class="title-work">
            <h1>My Work</h1>
        </header>
        <div class="main-content-work">
            <div class="card-work">
                <div class="card-work-title">
                    CollegeShip
                </div>
                <div class="card-work-image">
                    <img src="images/collegeShip.png">
                </div>
                <div class="card-work-desc">
                    An innovative offline portal designed to facilitate the application process for scholarships for students in rural areas. The project leverages advanced technologies, including OCR (Optical Character Recognition), biometric verfication, regular updates through SMS verification and ensures secure data collection.
                </div>
                <div class="card-github">
                    <a href="https://github.com/siddhesh-desai/CollegeShip" target="_blank">
                        <img src="icons/github.png">
                    </a>
                </div>
            </div>
            <div class="card-work">
                <div class="card-work-title">
                    Worker-Connect
                </div>
                <div class="card-work-image">
                    <img src="images/workerConnect.png    ">
                </div>
                <div class="card-work-desc">
                    A comprehensive platform designed to bridge the gap between blue-collar workers and individuals in need of their services. The platform includes a price negotiation system and encompasses three key sides: the admin side, worker side, and client side.
                </div>
                <div class="card-github">
                    <a href="https://github.com/siddhesh-desai/Worker-Connect" target="_blank">
                        <img src="icons/github.png">
                    </a>
                </div>
            </div>
        </div>
    </div>

<%- include("partials/footer") -%>